PORT=3000
NODE_ENV=development
DATABASE_URL=postgres://user:pass@localhost:5432/db_name
JWT_SECRET=superLongRandomSecretString
JWT_EXPIRES_IN=1h
CLIENT_URL=http://localhost:5173

#.env.test instead needs:
PORT=3000
NODE_ENV=test
DATABASE_URL=postgres://nick:7537@localhost:5432/test_top_prisma
JWT_SECRET=superLongRandomSecretString
